.inner :hover{
                display:'flex';
                flex-direction:'column';
                width:'40%';
                height:'70%';
                margin:'10%',
                boxSizing:'border-box',
                overflow:'auto',
                borderRadius:'30px',
                backgroundColor:'rgba(161,159,159,0.5)',
                backdropFilter:'blur(8px)'
}