.nav-item{
    /* color: white; */
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 22px;
}
.nav-item:hover{
    transition: 0.25s;
    background: rgb(249, 250, 251);
    /* color: white; */
}
.nav-link{
    color:white;
}
.navbar-brand{
    color: white;
}